<%= form_with model: [namespace, project] do |form| %>
  <div>
    <%= render 'shared/error_messages', object: project %>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/*' %>
  </div>
  <div>
    <%= image_tag @project.image.url, class: "board-images" if @project.present? %>
  </div>
  <% if namespace == :admin %>
    <div>
      <%= form.label :user_id %>
      <%= form.select :user_id, User.pluck(:email, :id), include_blank: true %>
    </div>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
