<%= form_with model: [:users, project], data: { turbo_method: :patch } do |form| %>
  <div>
    <%= render 'shared/error_messages', object: project %>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :user_id %>
    <%= form.select :user_id, User.pluck(:email, :id), include_blank: true %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
