<!DOCTYPE html>
<html>
  <head>
    <title>CloudFundApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if current_user&.admin? %>
      <%= render 'layouts/admin_nav_bar' %>
    <% else %>
      <%= render 'layouts/nav_bar' %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div style="display: flex;">
      <div style="width: 200px; background-color: lightblue;">
        <ul>
          <li><%= link_to 'プロジェクト管理', admin_projects_path %></li>
        </ul>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
